* {
  box-sizing: border-box;
}
:root {
  --left-bg-color: #0170b0af;
  --right-bg-color: #0808088f;
  --hover-width: 75%;
  --other-width: 25%;
}
body {
  font-family: Georgia, "Times New Roman", Times, sans-serif;
  margin: 0;
  overflow: hidden;
  height: 100vh;
}
.split.right > h1{
color:#fff;
}
h1 {
  font-size: 2.5rem;
  margin-top: 15rem;
  margin-left: 5rem;
}
.split.right > .btn {
  background-color: #ffffff53;
}
.split.left > .btn {
  background-color: #27272769;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  border: 2px #fff solid;
  width: 13rem;
  padding: 1.2rem;
  border-radius: 1rem;
  margin-left: 3rem;
}

.split.right > .btn:hover {
  background-color: #008000dd;
}
.split.left > .btn:hover {
  background-color: #0170b0af;
}
.split {
  overflow: hidden;
  width: 50%;
  height: 100%;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.split.left {
  left: 0;
  background: url(pic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* .split.left::before{
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--left-bg-color);
}
.split.right::before{
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--right-bg-color);
} */
.split.right {
  background: url(pic2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.split.left,
.split.right {
  transition: all 1s ease-in-out;
}
.left-hover .left {
  width: var(--hover-width);
}
.left-hover.right {
  width: var(--other-width);
}
.right-hover .right {
  width: var(--hover-width);
}
.right-hover .left {
  width: var(--other-width);
}
