body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.mobile-container {
  width: 350px;
  height: 600px;
  border: 2px gray solid;
  padding: 3px;
}
.main-head {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.profile-picture {
  display: flex;
  justify-content: space-between;
}
.btn{
  display: flex;justify-content: space-around;
}
.opentowork{
  line-height: 0.2;
  background-color: lightblue;
  width: 96%;
  margin-top: 20px;
  border-radius: 5px;
  padding: 5px;
}