body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: tomato;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  color: #fff;
}
div {
  position: absolute;
  bottom: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-size: 18px;
}
input {
  width: 50px;
  padding: 5px;
  font-size: 18px;
  background-color: tomato;
  border: none;
  text-align: center;
}
input:focus{
    outline: none;
}