* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #222;
  overflow-x: hidden;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.bg-container {
  background: url(https://images.unsplash.com/photo-1689878210212-de194e91a9be?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(0px);
  background-repeat: no-repeat;
  background-size: cover;
}
.load {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 20%;
  color: #fff;
}
