body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  justify-content: center;
  display: flex;
  align-items: center;
}

.key {
  display: inline-flex;
  align-items: center;
}
.key small {
  text-align: center;
  position: absolute;
  top: -24px;
  color: gray;
}

.key {
  border: 2px solid black;
  padding: 15px 35px;
  margin: 10px;

  position: relative;
}
