@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

body {
  height: 100vh;
  font-family: "Press Start 2P", sans-serif;
  margin: 0;
  overflow: hidden;
  text-align: center;
  background-color: #072be0;
  color: #fff;
}

.btn {
  border: 0;
  background-color: #fff;
  font-family: inherit;
  color: #072be0;
  padding: 10px 17px;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}

.insect-list {
  justify-content: center;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.choose-insect-btn {
  margin-left: 20px;
  border: 2px #fff solid;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  font-family: inherit;
}
.choose-insect-btn:hover {
  background-color: #fff;
  color: #072be0;
}
.choose-insect-btn:active {
  background-color: #ffffff97;
}
.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  transition: margin 0.2s ease-out;
}
.screen.up {
  margin-top: -100vh;
}
.choose-insect-btn img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.game-container {
  position: relative;
}
.time,
.score {
  position: absolute;
  top: 10px;
}
.time {
  left: 20px;
}
.score {
  right: 20px;
}
.messege {
  line-height: 1.7;
  background-color: #0000009f;
  width: 100%;
  padding: 20px;
  z-index: 100;
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -150%);
  transition: transform 0.4s ease-in;
}
.messege.visible {
  transform: translate(-50%, 150%);
  opacity: 1;
}
.insect {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s ease-in-out;
}
.insect.caught {
  transform: translate(-50%, -50%) scale(0);
}
.insect img {
  width: 100px;
  height: 100px;
}
